{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <div class="container-fluid">
        <h1 style="text-align: center;"> {{ movie.title }} ({{ movie.year }})</h1>
        <h5 style="text-align: center;"> Produced by {{movie.production}} | Rated {{movie.rated}} | Released in {{movie.country}} on {{movie.released}}</h5>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <br>
                <img src="{{ movie.poster }}" alt="{{ movie.title }}">
            </div>
            <div class="col-sm-8">
                <h3>Plot</h3>
                <hr>
                <p>{{movie.plot}}</p>
                <h3>Description</h3>
                <hr>
                <p>Genre: {{movie.genre}}</p>
                <p>Duration: {{movie.runtime}}</p>
                <p>Director: {{movie.director}}</p>
                <p>Writers: {{movie.writer}}</p>
                <p>Actors: {{movie.actors}}</p>
                <h3>Ratings</h3>
                <hr>
                {%for rating in movie.ratings%}
                <p>
                {{rating.Source}}: {{rating.Value}}
                </p>
                {%endfor%}
                <p>Awards: {{movie.awards}}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
