{% extends "lab_10/layout/base.html" %}

{% block content %}

<style>
.container {
  position: relative;
  width: 50%;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container > .flex-item:hover .image {
  opacity: 0.2;
}

.container > .flex-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 15px 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}
img {
  display: block;
  object-fit: cover;
}
.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: auto;
  transition: .5s ease;
  object-fit: cover;
  backface-visibility: hidden;
}
</style>
<div class="row">
	<div class="flex">
    {% for movie in watch_later_movies %}
    <div class="container">
    	<div class="flex-item">
		  <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="image">
		  <div class="middle">
		    <div class="text"><a href="/lab-10/movie/detail/{{movie.imdbid}}">{{movie.title}}</a></div>
		  </div>
	  </div>
	</div>
    {% endfor %}
    </div>
</div>
{% endblock %}
