{% extends "base.html" %}
{% block content %}
<style>
	h3{
		text-align: center;
		color: #ffffff;
	}
    th, td{
        padding: 5px;
        text-align: left;
    }
</style>
<h3>Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
